#sipp {
  text-align: center;
  background-color: #CDABF8 !important;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: infinite 20s linear; /* App-logo-spin */
  }
}

#sipp > .container {
  min-height: 100vh;
  background-color: #CDABF8 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
